@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: robotoCustom, sans-serif;
}
p {
  font-family: robotoCustom, sans-serif;
}
li {
  font-family: robotoCustom, sans-serif;
}
form {
  font-family: robotoCustom, sans-serif;
}


.full-page{
  width: 970px;
  height: 630px;
}
.success-card {
  max-width: 55rem;
  padding: 7rem 9rem;

  gap: 5rem;
}